.Side-menu {
  background-color: blue;
  width: auto;
  color:red;

  .children {
    transition: max-height 0.7s ease-in;
    overflow: hidden;
    &.active {
      transition-timing-function: cubic-bezier(0.5, 0, 1, 0);
      max-height: 9999px;
    }

    &.inactive {
      transition: max-height .6s cubic-bezier(0, 1, 0, 1) -.15s;
      max-height: 0;
    }
  }

  @import "theme-default.less";
}
