@import "../../less/side-menu.less";

@color-white: #F2F2F2;
body {
  background-color: @color-white;
  margin: 0;
}

*{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.title {

}
